@CHARSET "ISO-8859-1";

body {
	margin: 10px;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
	background: #E6F7D4;
}

.proxy {
	border: 1px dotted black;
}

h2 {
	padding: 5px;
	margin: 5px;
	border-bottom: 2px solid #bbb;
	line-height: 7px;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 0px;
	color: #333;
}

.playground {
	background: #fff;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	padding: 10px;
}

.example {
	width: 200px;
	height: 100px;
	background: #fff;
	position: relative;
}